<html>
    <head>
        <title>Форма</title>
    </head>
    <body>
        <h1 style="text-align: center;">Заполните форму</h1>
        <form action="" method="post" novalidate>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div>
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <br>
            {% if right_user is not none %}
                <h3>Введен неверный пароль</h3>
            {% endif %}
        </form>
    </body>
</html>