{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать в Школьный календарь</h1>
    {% if not current_user.is_authenticated %}
        <div class="alert alert-danger" role="alert">
            Для использования кастомного режима необходима авторизация.
        </div>
    {% endif %}
    <p>Если ввести дату, то можно получить либо подсказку для решения головоломки, либо все решение целиком. Программа автоматически отбрасывает три клетки, обозначающие месяц, число и день недели (в таблице будут обозначены белым цветом). Все остальные фигурки разукрашены в разные цвета. Количество подсказок не ограничено (возможно, когда-то это будет исправлено).</p>
    <a href="static/template_example.json" download>Пример шаблона кастомной доски</a>
{% endblock %}
