<html>
    <head>
        <title>Головоломка "Школьный календарь"</title>
        <style>
        table {
            width: 65%;
            height: 65%;
            border: 1px solid #100808;
        }
        th, td {
            border: 1px solid #0b7f96;
            padding: 10px;
        }
        </style>
        
    </head>
    <body>
        <h1 style="text-align: center;">Школьный календарь</h1>
        <br>
        <h2 for="date1">Введите дату</h2>
        <form action="" method="post" novalidate>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div>
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
        <br>
        
        <table style="empty-cells: show;">
            {% for j in range(5) %}
                <tr>
                    {% for i in range(10) %}
                        {% if colormap is none %}
                            <th>
                                {{ matrix[j][i] }}
                            </th>
                        {% else %}
                            <th style="background-color: {{ colormap[matrix[j][i]] }};">
                                
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>